[user]
	name = myname
	email = myemail
[core]
	excludesfile = /Users/me/.gitignore_global
[alias]
	branch-current = rev-parse --abbrev-ref HEAD
  # Usage:   git-pr HISNAME HISBRANCH
  # Example: git-pr rapid7 master
  # Example: git-pr JoeContributor bug/his-fix-for-a-bug-that-you-fixed
  pr-url =!"xdg-open https://github.com/$(git config user.name)/$(basename $(git rev-parse --show-toplevel))/pull/new/$1:$2...$(git branch-current) #"

