#
# Basic aliases without which one cannot live :)
#

debug "basic_aliases.rc"

alias lc='ls --color=auto'
# -F Display (`/') after directories, (`*') after executables, (`@') after symbolic links,
#    (`=') after sockets, (`%') after whiteouts, and (`|') after FIFOs.
alias lf='ls -aF'
alias ll='ls -Flah'
alias la='ls -A'
alias l='ls -CF'
alias sudi='sudo -i'
alias suck='sudo -u ks'
alias xclip='xclip -sel clip'
